@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  color: #5e5c7f;
  background-color: #f9f9ff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}
img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.container {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 700;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: #ff4c60;
  outline: 0;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #f9f9ff;
  text-decoration: none;
}
a:focus {
  outline: 0;
}

/* header */
.desktop-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 1.1em 2em;
  width: 100%;
}
.desktop-header:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(249, 249, 255, 0.6);
  filter: blur(10px);
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.nav-link {
  color: #000;
  font-weight: 500;
}
.nav-link:hover {
  color: #ffd15c;
}
.navbar-toggle {
  display: none;
}
@media only screen and (max-width: 991px) {
  .navbar-items {
    display: none;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar-toggle-show {
    display: flex;
    justify-content: center;
  }
  .navbar-nav {
    position: absolute;
    top: 20px;
    padding: 0 15px;
    border-radius: 50px;
    background-color: #000000;
    gap: 0.5em;
    animation: fromTop 0.5s ease-in;
  }
  .nav-link {
    font-size: 12px;
    color: #fff;
  }
  .navbar-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}
@keyframes fromTop {
  0% {
    opacity: 0;
    top: -15px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}

/* section */
main.content {
  margin-left: 290px;
  transition: all 0.3s ease-in-out;
}
main.text-content {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  padding-top: 110px;
  position: relative;
}

section.skills,
section.experience,
section.about,
section.projects,
section.contact {
  z-index: -2;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10em;
}

.experience-container,
.projects-container,
.contact-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* flying item */
.component {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.component .layer {
  position: absolute;
}
.component .p1 {
  max-width: 320px;
  right: 120px;
  bottom: -20%;
}
.component .roket {
  max-width: 250px;
  left: 10%;
  bottom: 0%;
  animation: go-up 50s infinite ease;
}
.component .laptop {
  max-width: 250px;
  left: 5%;
  top: 10%;
  animation: left-right 20s infinite;
}
.panah {
  position: absolute;
  max-width: 250px;
  left: -10%;
  top: -30%;
  animation: left-right 20s infinite;
}
.presentasi {
  position: absolute;
  transform: rotate(-20deg);
  max-width: 350px;
  top: -140px;
  right: -80px;
  animation: go-up 50s infinite ease;
}
.ngoding {
  position: absolute;
  max-width: 450px;
  bottom: 0px;
  left: 0;
}
.hai {
  z-index: 30;
  position: absolute;
  max-width: 450px;
  top: 0px;
  right: 0;
}
.megaphone {
  position: absolute;
  transform: rotate(-20deg);
  max-width: 350px;
  top: -260px;
  left: -70px;
  animation: left-right 50s infinite ease;
}
@keyframes go-up {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(70px, -70px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes left-right {
  0% {
    transform: rotate(0) translate(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: rotate(20deg);
  }
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: rotate(0);
  }
}

/* home */
section.home {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  transform: translateY(-50px);
}
section.home .intro h1 {
  color: #000;
  font-size: 36px;
  margin: 0;
}
section.home.intro.intro-text {
  color: #000;
  position: relative;
  font-size: 16px;
  animation: fade 2s ease-in;
  margin-bottom: 10px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.home .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}
section.home .social-icons li a {
  color: #000;
}
.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
}
.section-title:before {
  content: "";
  background-image: url(../images/dots-bg.svg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}

.section-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 2em;
}
.section-card {
  background-color: #302f4e;
  padding: 35px;
  border-radius: 20px;
}
.section-wrapper-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  color: #fff;
}
.about.container {
  background-color: #c01818;
}
.section-achievement {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section-achievement.fact-item {
  display: flex;
  align-items: flex-start;
}
h3 {
  margin: 0;
  padding: 0;
}

/* skill */
.skill-item .skill-info h4 {
  margin: 0;
  color: #ffd15c;
  font-size: 16px;
  font-weight: 500;
}
.skill-item .skill-info span {
  font-size: 14px;
  justify-self: flex-end;
}
.skill-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}
.service-box {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-box h3 {
  font-size: 20px;
}
.service-box img {
  margin-bottom: 22px;
}
.service-box:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* project */
.projects-item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-item:hover {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(-10px);
}
.projects-item .thumb {
  position: relative;
}
.projects-item .thumb img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-item .thumb:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.projects-item .category {
  background-color: #ea2027;
  background-image: linear-gradient(315deg, #ea2027 0%, #ee5a24 74%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #000;
  font-size: 14px;
  padding: 2px 8px;
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1;
}
.projects-item .details {
  padding: 20px;
}
.projects-item .details a {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #000000;
}
.projects-item .details a:hover {
  color: #ff4c60;
}
.projects-item .meta {
  font-size: 14px;
  color: #8b88b1;
}
.projects-item .meta li:not(:last-child) {
  margin-right: 0.6rem;
}
.projects-item .meta li:after {
  content: "";
  background: #8b88b1;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: 0.6rem;
  vertical-align: middle;
  width: 3px;
}
.projects-item .meta li:last-child::after {
  display: none;
}

/* contact */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contact-info {
  background-image: url("../images/map-light.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
}
.contact-info h3 {
  font-size: 23px;
  margin: 0 0 10px;
}

footer.footer {
  z-index: -1;
  padding: 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer.footer .copyright {
  color: #9c9ab3;
  font-size: 14px;
}

/* button */
.btn {
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 12px 32px;
  position: relative;
  outline: 0;
}
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default1 {
  color: #000;
  background-color: #06bcfb;
  background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  animation: all 1s ease-in;
}

.btn-default:hover,
.btn-default1:hover,
.btn-default2:hover {
  transform: scale(1.06);
}

.btn-default {
  color: #000;
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #ef2f7c 0%, #f56454 74%);
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.btn-cv {
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 4px 10px;
  border-radius: 20px;
  transform: translate(15px, -12px);
  font-weight: 400;
  font-size: 12px;
  border: none;
  background-color: #000000;
  animation: transform 1s ease-in;
}
.btn-cv a.text {
  color: #fff;
}

/* element2 */
.progress-bar,
.progress {
  position: relative;
  height: 7px;
  margin-bottom: 0;
  border-radius: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress {
  background-color: #f1f1f1;
}

.form-control {
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #454360;
  background-color: #000;
  background-image: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  outline: 0;
}

.form-control::placeholder {
  color: #aeacca;
  font-family: "Poppins", sans serif;
}

.form-group {
  margin-bottom: 30px;
}

/* timeline */
.timeline {
  position: relative;
}

.timeline .timeline-container {
  padding-left: 50px;
  margin-bottom: 50px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.timeline .timeline-container:last-of-type {
  margin-bottom: 0;
}

.timeline.edu .timeline-container::after {
  content: "";
  background: #f9f9ff;
  border-radius: 50%;
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #ff4c60;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}
.timeline.exp .timeline-container::after {
  content: "";
  background: #f9f9ff;
  font-family: "simple-line-icons";
  font-size: 24px;
  color: #ff4c60;
  position: absolute;
  left: -7px;
  top: 0;
  z-index: 1;
}

.timeline .content {
  position: relative;
}

.timeline .content .time {
  color: #8b88b1;
  font-size: 14px;
}

.timeline .content h3 {
  font-size: 20px;
  margin: 10px 0;
}

.timeline .content p {
  margin: 0;
}

.timeline span.line {
  position: absolute;
  width: 1px;
  background-color: #ff4c60;
  top: 30px;
  bottom: 30px;
  left: 34px;
}

/* Social Icons  */
.social-icons li:not(:last-child) {
  margin-right: 1.5rem;
}
.social-icons li a {
  font-size: 21px;
}
.social-icons.light li a:hover {
  color: #ffd15c;
}

/* === Helper === */
.rounded {
  border-radius: 20px !important;
}

.bg-white {
  background: #fff;
}

.shadow-dark,
.desktop-header .dropdown-menu,
.form-control,
.form-control:focus {
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.shadow-light {
  box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
}

.shadow-blue {
  box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}

.shadow-pink {
  box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
}

.shadow-yellow {
  box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
}

.padding-30 {
  padding: 30px;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
  color: #000;
}

/* RESPONSIVE SETTINGS */
@media (max-width: 768px) {
  .container {
    padding: 0px;
  }
  .section-wrapper {
    grid-template-columns: 1fr;
  }
  .section-wrapper-card {
    grid-template-columns: 1fr;
  }
  .section-wrapper-image {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .section-achievement {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects-wrapper {
    padding: 0 30px;
    flex-direction: column;
  }
  .skills-container,
  .contact-container {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experience-container,
  .projects-container {
    padding: 0 30px;
    flex-direction: column;
  }
  .fact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  section.home {
    padding: 100px 0;
  }

  .component .p1 {
    max-width: 0;
  }
  .component .roket {
    max-width: 100px;
  }
  .component .laptop {
    max-width: 100px;
  }
  .panah {
    max-width: 100px;
    left: -10%;
    top: -10%;
  }
  .presentasi {
    max-width: 150px;
    top: -140px;
    right: -80px;
  }
  .ngoding {
    position: absolute;
    max-width: 150px;
    bottom: 0px;
    left: 0;
  }
  .hai {
    max-width: 150px;
    top: -140px;
  }
  .megaphone {
    max-width: 150px;
  }
}

@media (min-width: 469px) and (max-width: 900px) {
  .section-wrapper {
    grid-template-columns: 1fr;
  }
  .section-wrapper-card {
    grid-template-columns: 1fr;
  }
  .section-wrapper-image {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .section-achievement {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects-wrapper {
    padding: 0 30px;
    flex-direction: column;
  }
  .container {
    padding: 70px;
  }
  section.home {
    padding: 300px 0;
  }
  .projects-item {
    max-width: 360px;
    margin: auto;
  }
  .price-item {
    padding: 40px 30px;
  }
  .component .p1 {
    max-width: 220px;
    right: 40px;
    bottom: -30%;
  }
  .component .roket {
    max-width: 200px;
  }
  .component .laptop {
    max-width: 200px;
  }
  .panah {
    position: absolute;
    max-width: 200px;
    left: -10%;
    top: -10%;
  }
  .presentasi {
    position: absolute;
    transform: rotate(-20deg);
    max-width: 250px;
    top: -140px;
    right: -80px;
    animation: go-up 50s infinite ease;
  }
  .ngoding {
    position: absolute;
    max-width: 450px;
    bottom: 0px;
    left: 0;
  }
  .hai {
    max-width: 250px;
  }
  .megaphone {
    max-width: 250px;
  }
}

@media only screen and (max-width: 991px) {
  main.content {
    margin-left: 0;
  }
  .skills-container,
  .experience-container {
    padding: 0 30px;
    flex-direction: column;
  }
  .hai {
    max-width: 100px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}
